<html>
<head>
	<title>Sistema Django</title>

	<!-- Bootstrap stuff -->
	<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	
	{% if user.is_authenticated %}
		<div class="col-md-6 col-md-offset-3">
		<h1>Bienvenido al sistema basico de Django {{user.username}}!</h1>
		<h3>Desde aqui podra realizar las siguientes acciones:</h3>
	
		<br>
		<div class="center-block">
			<a href="/" class="btn btn-warning center-block">Pagina principal</a>
			<a href="usuarios/mostrar" class="btn btn-success center-block">Ver usuarios</a>
			<a href="usuarios/alta" class="btn btn-primary center-block">Registrar usuarios</a>
			<a href="inicio/cerrar/" class="btn btn-danger center-block">Cerrar sesion</a>
		</div>
	</div>
	
	{% else %}
	<div class="col-md-6 col-md-offset-3">
		<form method="POST">
			{% csrf_token %}
			<h2>Para poder accedar al sistema debe loguearse.</h2>
			<h4>Ingrese los datos correspondientes:</h4>
			<label>Nombre de usuario:</label>
			<input class="form-control" name="username" type="text" placeholder="Nombre de usuario"><br>
			<label>Contraseña:</label>
			<input class="form-control" name="password" type="password" placeholder="Ingrese su contraseña"><br>
			<input class="btn btn-info" type='submit' value='Loguearse'>
			<a href="inicio/registrarse" class="btn btn-primary">Registrarse</a>
		</form>
	</div>
	{% endif %}

	
</body>
</html>