<html>
<head>
	<title> Muestra de todos los usuarios </title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
</head>
<body>
	<h3> Muestra de todos los usuarios registrados </h3>
	
	<ul>
		<!-- Por cada usuario de la lista de usuarios, que trae django -->
		{% for usuario in listaUsuarios %}
		<!-- Mostrar cada uno de los valores de cada usuario -->
			<li><b>Usuario 	</b>	{{usuario.usuario}}	</li>
			<li><b>Password </b>	{{usuario.password}}</li>
			<li><b>Imagen 	</b>	<img src="{{MEDIA_URL}}{{usuario.imagen}}"></li>
		{% endfor %}
	</ul>
</body>
</html>