{% extends 'base.html' %}

{% block title %}
	Registrar usuarios
{% endblock %}

{% block content %}
	
	{% if user.is_superuser %}
	<div class="col-md-7 col-md-offset-3">
		<h1>Ingrese la informacion del usuario a registrar</h1>
		<a href="/" class="btn btn-primary center-block">Volver a la pagina principal</a><br>
		<div class="center-block">
			<form method="POST" enctype="multipart/form-data">
				
				{% csrf_token %}
				{{ form.as_p }}
				<input class="btn btn-info" type='submit' value='Registrar usuario'>

			</form>
		</div>
	</div>
	{% else %} 
		<!-- Redireccionar al inicio  -->
		{% include 'inicio/inicio.html' %}
	{% endif %} 	

{% endblock %}