<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap stuff -->
	<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<!-- Navigation vars -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Activar navegaci&oacute;n</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Django</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			<li class="active"><a href="/">Inicio</a></li>
			<li><a href="/comments/comentar">Comentar</a></li>
			<li><a href="/comments/mostrar">Ver comments</a></li>
			{% if user.is_superuser %}
			<li><a href="/usuarios/alta">Alta usuario</a></li>
			<li><a href="/usuarios/mostrar">Mostrar usuarios</a></li>
			{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
			<li><a class="btn-logout" href="/inicio/cerrar/">Salir</a></li>
			</ul>
			</div>
		</div>
	</nav>
	{% block content %}{% endblock %}
</body>
</html>